<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>

<h1>My Web Page</h1>


<div id="piechart"></div>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript" th:inline="javascript">

    google.charts.load('current', {'packages':['corechart']});

    google.setOnLoadCallback(drawChart);


    function drawChart() {

        var d = [[${result}]] ;
        var data = google.visualization.arrayToDataTable(d);


        var options = {'title':'Cars Model Statistics', 'width':1000, 'height':1000};


        var chart = new google.visualization.BarChart(document.getElementById('piechart'));
        chart.draw(data, options);
    }
</script>


</body>
</html>
